<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Report</title>
</head>

<body> -->

<% layout('/layouts/boilerplate') %>

    <div class="row">
        <h3 class="text-center">Create New Report Using Camera</h3>
        <div class="col-6 offset-3">
            <form action="/reports" method="POST" enctype="multipart/form-data">
                <div class="mb-3 text-center">
                    <div class="mb-3 d-flex align-items-center justify-content-center">
                        <img class="fileImage" id="img_url" src="" alt="your image">
                    </div>
                    <input type="file" accept="image/*" capture name="image" id="" multiple
                        onChange="img_pathUrl(this);">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="name">Enter Your Name</label>
                    <input onclick="getLocation()" class="form-control" type="text" id="name" name="report[name]"
                        required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="state">State</label>
                    <input class="form-control" type="text" id="state" name="report[state]" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Detailed Location</label>
                    <input class="form-control" type="text" id="location" name="report[location]" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="soverity">Soverity</label>
                    <select class="form-control form-select" id="soverity" name="report[soverity]" required>
                        <option value="LOW">LOW</option>
                        <option value="MEDIUM">MEDIUM</option>
                        <option value="HIGH">HIGH</option>
                    </select>
                </div>
                <!-- Adding Longitude and Latitude to the form -->
                <input type="text" name="report[longitude]" id="long">
                <input type="text" name="report[latitude]" id="lat">
                <!-- <div class="mb-3">
                    <label class="form-label" for="image">Upload Image</label>
                    <input class="form-control" type="text" id="image" name="report[image]">
                </div> -->
                <div class="mb-3">
                    <label class="form-label" for="description">Description/Additional Details</label>
                    <textarea class="form-control" type="text" id="description" name="report[description]"
                        required></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Submit</button>
                </div>

            </form>
        </div>
    </div>

    <style>
        input::file-selector-button {
            color: white;
            padding: 0.5em 1em 0.5em 1em;
            border: thin solid grey;
            border-radius: 10px;
            background-color: blue;
            cursor: pointer;
        }

        .fileImage {
            background: #ddd;
            width: 200px;
            height: 150px;
            object-fit: cover;
            display: block;
            align-items: center;
        }

        #long,
        #lat {
            visibility: hidden;
        }

        @media only screen and (max-width: 500px) {
            .row {
                width: 100%;
            }

            html {
                margin-right: 0px;
            }
        }
    </style>

    <script>
        function img_pathUrl(input) {
            $('#img_url')[0].src = (window.URL ? URL : webkitURL).createObjectURL(input.files[0]);
        }

        // Script for Longtitude and latitude
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function showPosition(position) {
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;
            // console.log("Latitude: " + latitude + ", Longitude: " + longitude);
            // Do something with the latitude and longitude variables here
            document.getElementById('long').value = longitude;
            document.getElementById('lat').value = latitude;
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- </body>

</html> -->